@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewData[Constant.Title] = " Claim List";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div class="btn-group">
                <a asp-action="Add" class="btn btn-primary @(User.HasClaim("Claim", "Add") ? "" : "disabled")">
                    <i class="fa fa-plus"></i> Add Claims
                </a>
            </div>
            <div class="top-buffer"></div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        <th>
                            Controller
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Type</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>