@model Customer

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Name" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" readonly=""/>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Email" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="Email" class="form-control" readonly=""/>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="PhoneNumber" class="form-control" readonly=""/>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Address" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="Address" class="form-control" readonly=""/>
            </div>
        </div>
    </div>
</div>