@model Movie
@inject IEpisodeRepository EpisodeRepository

@{
    ViewData[Constant.Title] = Model.Name + " - Watch";
}

@section slide {
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="media-area">
                <video class="col-xs-12" id="ads-player" autoplay="">
                    <source src="" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
}

<div class="panel panel-info" id="panel-movie-detail">
    <div class="panel-heading">
        Episode list
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in EpisodeRepository.OrderByName(Model.Episodes))
                {
                    <button class="btn btn-primary btn-episode" data-url="@item.Url" style="margin-bottom: 10px">@(item.Name.Length == 1 ? "0" : "")@item.Name</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $('#ads-player').attr('src', '/assets/client/ads-example/5%20Second%20Ad%20Sample.mp4%20-%20YouTube.MP4');
            // TODO : need to get ads src from database
            $("video").on("ended",
                function() {
                    $(this).remove();
                    $("#media-area")
                        .append('<iframe id="movie-player" class="col-xs-12" src="" allowfullscreen></iframe>');
                    $('.btn-episode:first').trigger('click');
                });
            $('.btn-episode').on('click',
                function() {
                    $('#movie-player').attr('src', $(this).data('url'));
                    $('.btn-episode').removeClass('active');
                    $(this).addClass('active');
                });
        });
    </script>
}