@model Movie
@{
    ViewData[Constant.Title] = Model.Name + " - Watch";
}

@section slide {
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <iframe id="media-player" class="col-xs-12" src="" allowfullscreen></iframe>
            </div>
        </div>
    </div>
}

<div class="panel panel-info" id="panel-movie-detail">
    <div class="panel-heading">
        Episode list
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in Model.Episodes.OrderBy(x => x.Name))
                {
                    <button class="btn btn-primary btn-episode" data-url="@item.Url">@item.Name</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.btn-episode').on('click',
            function() {
                $('#media-player').attr('src', $(this).data('url'));
                $('.btn-episode').removeClass('active');
                $(this).addClass('active');
            });
        $('.btn-episode:first').trigger('click');
    });
</script>