@inject IMovieRepository MovieRepository

<div id="slide">
    <div class="container">
        <div id="carousel-movie" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @foreach (var item in MovieRepository.FindSlide())
                {
                    <div class="item" style="min-height: 300px">
                        <img src="@item.Slide" alt="@item.Name" class="img-responsive" asp-append-version="true">
                        <div class="carousel-caption">
                            <div>
                                <h3>@item.Name</h3>
                            </div>
                            <div class="description">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
                <a class="left carousel-control" href="#carousel-movie" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-movie" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>