@inject IGenreRepository GenreRepository
@using Repositories
@model Movie
@{
    ViewData[Constant.Title] = "Edit Anime";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger col-sm-offset-1 col-sm-10 text-center"></div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label asp-for="Fansub"></label>
                            <input asp-for="Fansub" class="form-control"/>
                            <span asp-validation-for="Fansub" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="form-group">
                            <label>Genre</label>
                            <select id="select-genre" class="form-control selectpicker" data-live-search="true" multiple name="genres[]">
                                @foreach (var gerne in GenreRepository.GetAll())
                                {
                                    <option value="@gerne.Id">@gerne.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Image"></label>
                            <input id="image" type="file" name="image" data-show-upload="false" data-show-remove="true" data-allowed-file-extensions='["jpeg", "gif", "png", "jpg"]'/>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label asp-for="Slide"></label>
                            <input id="slide" type="file" name="slide" data-show-upload="false" data-show-remove="true" data-allowed-file-extensions='["jpeg", "gif", "png", "jpg"]'/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label asp-for="Release"></label>
                            <div class="input-group">
                                <input asp-for="Release" value="@Model.Release.Format()" class="form-control" id="datetimepicker"/>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <span asp-validation-for="Release" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label asp-for="Status"></label>
                            <select asp-for="Status" asp-items="Html.GetEnumSelectList<MovieStatus>()" class="form-control selectpicker"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-info btn-block" type="submit">Edit</button>
                                </div>
                                <div class="col-sm-4">
                                    <a asp-action="Index" class="btn btn-danger btn-block">Back to list</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function() {
            $("#image").fileinput();
            $("#slide").fileinput();
            $('#datetimepicker').datetimepicker({
                locale: 'en',
                format: 'MM/DD/YYYY'
            });

            $('#select-genre').selectpicker('val', [@string.Join(", ", Model.GenreMovies.Select(x => x.GenreId))]);
        });
    </script>
}