@using Models.ModalViewModels
@model Models.UserViewModels.EditUserViewModel

<form asp-action="Edit" asp-controller="User" method="post" class="modal-form">
    @await Html.PartialAsync("Modal/_HeaderPartial", new ModalHeader {Heading = "Edit User"})
    <div class="modal-body form-horizontal">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 text-center"></div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <label asp-for="RoleName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="RoleName" asp-items="@(new SelectList((List<Role>) ViewData["RoleList"], "Name", "Name"))" class="selectpicker form-control"></select>
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Modal/_FooterPartial", new ModalFooter {SubmitButtonText = "Edit", SubmitButtonClass = "btn-info"})
</form>

<script>
    $('.selectpicker').selectpicker();
</script>
<script src="~/assets/admin/js/modal-form.js"></script>