@using Models.ModalViewModels
@model Models.UserViewModels.UserViewModel

<form asp-action="Edit" asp-controller="User" data-ajax="true" data-ajax-method="post" id="user-form">
    @await Html.PartialAsync("Modal/_HeaderPartial", new ModalHeader {Heading = "Edit User"})
    <div class="modal-body form-horizontal">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger validation-summary col-sm-12"></div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Modal/_FooterPartial", new ModalFooter {SubmitButtonText = "Edit", SubmitButtonClass = "btn-info"})
</form>

<script src="~/assets/admin/js/user-form.js"></script>