<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-management">
                    <span class="fa fa-tasks">
                        Management
                    </span>
                </a>
            </h4>
        </div>
        <div id="collapse-management" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="User">
                                <i class="fa fa-user"></i>
                                <span>User</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Role">
                                <i class="fa fa fa-id-card"></i>
                                <span>Role</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Genre">
                                <i class="fa fa-list"></i>
                                <span>Genre</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Movie">
                                <i class="fa fa-film"></i>
                                <span>Anime</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Setting">
                                <i class="fa fa-cog"></i>
                                <span>Setting</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-advertisement">
                    <span class="fa fa-file">
                        Advertisement Management
                    </span>
                </a>
            </h4>
        </div>
        <div id="collapse-advertisement" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Customer">
                                <i class="fa fa-group"></i>
                                <span>Customer</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="VideoAds">
                                <i class="fa fa-file-video-o"></i>
                                <span>Video</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="BannerAds">
                                <i class="fa fa-image"></i>
                                <span>Banner</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="AdsLocation">
                                <i class="fa fa-list-alt"></i>
                                <span>Ads Location</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>