<div id="bottom-ads">
    <div class="container">
        <a href="#">
            <img src="" alt="" class="img-responsive center-block" style="height: 100px; width: 100%"/>
        </a>
    </div>
</div>