body { background-color: #1e1e1e; }

div.footer {
    box-shadow: #cccccc 1px -6px 16px -6px;
    color: #717171;
}

.dropdown-menu.columns-genres { min-width: 600px; }

.dropdown-menu.columns-year { min-width: 400px; }

.dropdown-menu li a {
    font-weight: 300;
    padding: 5px 15px;
}

.multi-column-dropdown { list-style: none; }

.multi-column-dropdown li a {
    clear: both;
    color: white;
    display: block;
    line-height: 1.428571429;
    white-space: normal;
}

@media (min-width: 768px) {
    .multi-column-dropdown li a:hover {
        background-color: #f5f5f5;
        color: #262626;
    }

    .multi-column-dropdown li a { color: #333; }
}

.multi-column-dropdown li a:hover { text-decoration: none; }

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

/********************************/

.movie-name {
    background-color: #444444;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 11px;
}

.movie-info {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.movie-release {
    position: absolute;
    right: 5px;
    top: 2px;
}

.movie-view {
    left: 5px;
    position: absolute;
    top: 2px;
}

.movie-img {
    height: 190px;
    width: 100%;
}

.movie-content {
    color: white;
    font-size: 16px;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

@media (min-width: 768px) {
    .movie-content { height: 250px; }

    .movie-img { height: 240px; }
}

#ads-skip {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
}