@model Models.ModalViewModels.Modal

<div id="@Model.Id" class="modal fade" role="dialog">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>